body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 50vh;
    margin: 0;
    background-color: #f4f4f4;
}

.main-container {
    display: flex;
    border: 1px solid #000;
    background: white;
    width: 800px;
}

.side-box {
    flex: 2;
    padding: 20px;
    border-right: 2px solid #000;
}

.control-box {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* 
.control-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

button {
    cursor: pointer;
}

